* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;

}

body {
    font-size: 14px;
    line-height: 1.523;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .6);

}


/* HEADER */
.header{
    padding: 0 18px;
    height: 96px;
    width: 100%;
    background-color: #2C3E50;
}
.logo{
    font-size: 24px;
    color: #fff;
    padding: 9px 0;
    text-align: center;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu a, .menu a:visited{
    color: rgba(255, 255, 255, .67);
}
.menu li .active{
    color: rgba(255, 255, 255, 1);
}